{% extends "website/components/sections/base/content.html" %}

{% load i18n %}

{% block content %}
    <p class="text-slate-950 leading-relaxed text-right">
        {% blocktranslate %}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Culpa eligendi eveniet fuga minus nihil totam
            voluptas voluptatum! A adipisci alias corporis, dolor doloribus est excepturi fugit illo ipsam itaque
            modi neque porro quaerat, ratione repudiandae sed sint suscipit? Autem, dolores! Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Accusamus eaque exercitationem laudantium modi, perferendis quas.
            Atque harum odio quaerat quidem.
        {% endblocktranslate %}
    </p>
{% endblock %}