{% include 'website/pages/index/sections/services.html' %}
{% include 'website/pages/index/sections/highest_rated_products.html' %}
{% include 'website/pages/index/sections/gallery.html' %}
{% include 'website/pages/index/sections/new_products.html' %}
{% include 'website/pages/index/sections/about.html' %}
{% include 'website/pages/index/sections/consultation_banner.html' %}
{% include 'website/pages/index/sections/consultation_form.html' %}
{% include 'website/pages/index/sections/newest_projects.html' %}
{% include 'website/pages/index/sections/faq.html' %}
{% include 'website/pages/index/sections/newest_posts.html' %}