<div class="flex flex-col gap-8">
    {# The title #}
    <div class="flex flex-col items-stretch text-right gap-1">
        <p class="text-gray-400 font-semibold">We are here to help</p>
        <h2 class="text-black text-2xl font-bold">Stay in touch with our experts</h2>
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, quasi.</p>
    </div>
    {# Location #}
    <div class="flex flex-col items-stretch text-right gap-1">
        <p class="text-black font-bold">
            Ahmadi Woodworking
        </p>
        <p class="text-black text-sm">
            Eslamshahr - Tehran
        </p>
    </div>
    {# Kinda retarded to use a table for this, but I'm following the design #}
    <table class="table-auto text-right">
        <thead>
        <tr>
            <th class="text-gray-400 text-xs font-normal">Email</th>
            <th class="text-gray-400 text-xs font-normal">Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a class="text-amber-600" href="mailto:example@example.com">example@example.com</a>
            </td>
            <td>
                <a class="text-amber-600" href="tel:+310640435602">+310640435602</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
