<!-- Tailwind classes: border-transparent bg-white shadow-xl shadow-gray-200 border-gray-200 -->
<div x-data="{ hovering: false }" @mouseenter="hovering = true" @mouseleave="hovering = false"
     class="rounded-lg text-center flex flex-col items-stretch border-transparent text-black fill-black border"
     :class="{'border-transparent': !hovering, 'bg-white': hovering, 'shadow-xl': hovering, 'shadow-gray-200': hovering, 'border-gray-200': hovering}">
    <!-- Tailwind classes: bg-slate-50 rounded-lg -->
    <div class="p-4" :class="{'bg-slate-50': !hovering, 'rounded-lg': !hovering}">
        <div class="flex flex-col items-center">
            <div class="max-w-36 w-full">
                <img alt="Image" src="{{ icon_src }}"/>
            </div>
        </div>
        <p class="text-lg">{{ title|escape }}</p>
    </div>
    <!-- Tailwind classes: invisible -->
    <p class="font-light text-gray-500 px-4 pb-4" :class="{ 'invisible': !hovering }">{{ content|escape }}</p>
</div>

{#hover:border hover:bg-white hover:shadow-xl hover:shadow-gray-300 hover:border-gray-300#}