{% load static %}
{% static 'website/index/cabinets.jpg' as cabinets %}
<div class="flex flex-col items-center">
    <div class="container">
        <div class="flex flex-row justify-end px-8">
            <h2 class="text-xl">
                <strong>Lorem</strong> ipsum dolor.
            </h2>
        </div>
    </div>
</div>
<div class="bg-slate-100 flex flex-col items-center mt-16">
    <div class="container">
        <div class="grid lg:grid-cols-3 gap-10 lg:gap-20 -translate-y-24">
            {% include 'index/products/product.html' with image_src=cabinets title='Cabinets' button_href='' button_label='Read more' %}
            {% include 'index/products/product.html' with image_src=cabinets title='Cabinets' button_href='' button_label='Read more' %}
            {% include 'index/products/product.html' with image_src=cabinets title='Cabinets' button_href='' button_label='Read more' %}
        </div>
    </div>
</div>