{% load i18n %}
{% load static %}

{% translate "About us" as about_title %}
{% url "about" as about_href %}

{% translate "Contact us" as contact_title %}
{% url "contact" as contact_href %}

{% translate "Posts" as posts_title %}
{% url "posts" as posts_href %}

{% translate "Portfolio" as portfolio_title %}
{% url "portfolio" as portfolio_href %}

{% translate "Products" as products_title %}
{% url "products" as products_href %}

<nav x-data="{ expanded: false, transparent: true }">
    {# Topbar #}
    <!-- Tailwind classes: bg-black bg-opacity-10 text-white bg-white bg-black shadow-lg -->
    <div @scroll.window="transparent = window.scrollY < 20"
         class="flex items-center justify-center p-2 duration-200 transition-all backdrop-blur-sm fixed top-0 left-0 right-0 z-40 h-24"
         :class="{ 'bg-black bg-opacity-10 text-white': transparent, 'bg-white text-black shadow-lg': !transparent }">
        <div class="container flex flex-row justify-between sm:justify-normal items-center space-x-8">
            {# Contact info #}
            <div class="items-center flex-row space-x-4 hidden sm:flex">
                <!-- Tailwind classes: text-white text-slate-900 -->
                <span class="transition-colors duration-200"
                      :class="{ 'text-white': transparent && !expanded, 'text-slate-900': !transparent || expanded }">
                    {% include "website/icons/phone_outline.html" with class="w-8 h-8" %}
                </span>
                <p class="text-sm font-medium">
                    <a href="tel:{{ settings.contact_phone_number|escape }}"
                       class="hover:text-gold hover:underline">
                        {{ settings.contact_phone_number_formatted|escape }}
                    </a>
                    <br/>
                    {% translate 'Call now' %}
                </p>
                <a href="tel:+310640435602"
                   class="rounded-lg text-sm px-3 py-2 transition-all duration-200 font-medium border-2"
                   :class="{ 'text-slate-900 backdrop-blur-xl bg-white border-white hover:text-white hover:bg-transparent': transparent && !expanded, 'text-slate-900 border-slate-900 hover:bg-slate-900 hover:bg-opacity-10': !transparent || expanded }">
                    {% translate 'Free advice' %}
                </a>
            </div>
            {# Filler #}
            <div class="flex-1 hidden sm:block">

            </div>
            {# Desktop navigation list #}
            <div class="justify-end flex-row space-x-4 text-sm font-semibold hidden md:flex">
                <a href="{% url 'about' %}">
                    {% translate 'About us' %}
                </a>
                <a href="{% url 'contact' %}">
                    {% translate 'Contact us' %}
                </a>
                <a href="{% url 'posts' %}">
                    {% translate 'Posts' %}
                </a>
                <a href="{% url 'portfolio' %}">
                    {% translate 'Portfolio' %}
                </a>
                <a href="{% url 'products' %}">
                    {% translate 'Products' %}
                </a>
            </div>
            {# Mobile navigation expander #}
            <div>
                <!-- Tailwind classes: border-white text-white border-black text-black hover:bg-white hover:bg-black -->
                <button @click="expanded = !expanded"
                        type="button"
                        class="relative w-12 h-12 border-2 rounded-md block md:hidden transition-colors duration-200 hover:bg-opacity-10"
                        :class="{ 'border-white text-white hover:bg-white': transparent, 'border-black text-black hover:bg-black': !transparent }">
                    <!-- Tailwind classes: opacity-0 rotate-[360deg] -->
                    <span class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center duration-200 transition-transform"
                          :class="{ 'opacity-0': expanded, 'rotate-[360deg]': expanded }">
                        {% include 'website/icons/bars_3_outline.html' with class="w-8 h-8" %}
                    </span>
                    <!-- Tailwind classes: opacity-0 rotate-[360deg] -->
                    <span class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center duration-200 transition-transform"
                          :class="{ 'opacity-0': !expanded, 'rotate-[360deg]': expanded }">
                        {% include 'website/icons/close.html' with class="w-8 h-8" %}
                    </span>
                </button>
            </div>
            <div class="flex flex-row">
                <a href="{% url 'index' %}"
                   class="block w-20 h-20 bg-center bg-cover"
                   style="background-image: url('{% static 'website/logo256x256.webp' %}')">

                </a>
            </div>
        </div>
    </div>
    <div class="fixed inset-0 bg-black z-30 transition-opacity duration-500"
         :class="{ 'opacity-80': expanded, 'opacity-0 pointer-events-none': !expanded }">
    </div>
    <!-- Tailwind classes: opacity-0 opacity-100 pointer-events-none -->
    <div class="transition-all duration-500 md:hidden bg-white shadow-lg overflow-hidden fixed left-0 top-24 right-0 z-40"
         :class="{ 'pointer-events-none max-h-0': !expanded, 'max-h-screen': expanded }">
        <ul class="flex flex-col items-stretch text-right">
            {% include "website/components/nav/mobile_item.html" with title=about_title href=about_href %}
            {% include "website/components/nav/mobile_item.html" with title=contact_title href=contact_href %}
            {% include "website/components/nav/mobile_item.html" with title=posts_title href=posts_href %}
            {% include "website/components/nav/mobile_item.html" with title=portfolio_title href=portfolio_href %}
            {% include "website/components/nav/mobile_item.html" with title=products_title href=products_href %}
        </ul>
    </div>
</nav>
