{# Some template hackery to get this working #}
{% with inactive_button_class="text-gray-500 bg-gray-300 py-2 px-3 text-sm rounded-md font-bold transition-colors duration-200 hover:bg-black hover:text-white" %}
    {% with active_button_class="text-white bg-black py-2 px-3 text-sm rounded-md font-bold" %}
        <div class="flex flex-row justify-center items-center gap-2">
            {# Previous #}
            {% if page.has_previous %}
                <a class="{{ inactive_button_class }}" href="?{{ query_param_name }}=1">&laquo;</a>
                <a class="{{ inactive_button_class }}"
                   href="?{{ query_param_name }}={{ page.previous_page_number }}">{{ page.previous_page_number }}</a>
            {% endif %}
            {# Current #}
            <a href="?{{ query_param_name }}={{ page.number }}" class="{{ active_button_class }}">
                {{ page.number }}
            </a>
            {# Next #}
            {% if page.has_next %}
                <a class="{{ inactive_button_class }}"
                   href="?{{ query_param_name }}={{ page.next_page_number }}">{{ page.paginator.num_pages }}</a>
                <a class="{{ inactive_button_class }}"
                   href="?{{ query_param_name }}={{ page.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </div>
    {% endwith %}
{% endwith %}