{% load i18n %}

{% block wrapper %}
    {% if products %}
        <div class="grid md:grid-cols-4 gap-6">
            {% for product in products %}
                {% include "website/components/products/product.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="flex flex-col justify-center">
            <p class="text-center text-sm font-medium text-gray-700">
                {% translate "No products found" %}
            </p>
        </div>
    {% endif %}
{% endblock %}
