{% load i18n %}

{% if products %}
    {#     md:grid md:gap-10 lg:grid-cols-3 lg:gap-20#}
    <div x-data="{ offsetLeft: 0, clientWidth: 0, scrollWidth: 0 }" class="relative">
        <div x-ref="scrollbox" @scroll="offsetLeft = $event.target.scrollLeft"
             x-init="() => {
                clientWidth = $el.clientWidth;
                scrollWidth = $el.scrollWidth;

                const resizeListener = () => {
                    clientWidth = $el.clientWidth;
                    scrollWidth =  $el.scrollWidth;
                };
                window.addEventListener('resize', resizeListener);

                return () => {
                    window.removeEventListener('resize', resizeListener);
                };
            }"
             class="flex md:grid md:grid-cols-3 snap-x md:snap-none snap-mandatory md:snap-proximity
              w-full md:w-auto overflow-x-scroll md:overflow-x-auto scrollbar scrollbar-h-0 scroll-smooth">
            {% for product in products %}
                {% include "website/components/products/product.html" %}
            {% endfor %}
        </div>
        <div class="absolute left-0 top-1/2 -translate-y-1/2 md:hidden">
            <button type="button" class="bg-gold p-2 text-black rounded-full shadow-lg transition-colors duration-200"
                    @click="$refs.scrollbox.scrollTo({ left: Math.max(0, offsetLeft - clientWidth) })"
                    :class="{ 'opacity-50': offsetLeft <= 0, 'opacity-100 hover:bg-black hover:text-white': offsetLeft > 0 }">
                {% include "website/icons/arrow_left_circle_outline.html" with class="w-8 h-8" %}
            </button>
        </div>
        <div class="absolute right-0 top-1/2 -translate-y-1/2 md:hidden">
            <button type="button" class="bg-gold p-2 text-black rounded-full shadow-lg transition-colors duration-200"
                    :class="{ 'opacity-50': offsetLeft >= scrollWidth - clientWidth, 'opacity-100 hover:bg-black hover:text-white': offsetLeft < scrollWidth - clientWidth }"
                    @click="$refs.scrollbox.scrollTo({ left: Math.min(scrollWidth, scrollWidth + clientWidth) })">
                {% include "website/icons/arrow_right_circle_outline.html" with class="w-8 h-8" %}
            </button>
        </div>
    </div>
{% else %}
    <div class="flex flex-col justify-center">
        <p class="text-center text-sm font-medium text-gray-700">
            {% translate "No products found" %}
        </p>
    </div>
{% endif %}
