{% load i18n %}
<div class="flex flex-col items-center justify-center py-16">
    {% if projects %}
        <div class="container grid lg:grid-cols-3 gap-6">
            {% for project in projects %}
                <div x-data="{ hovering: false }" @mouseenter="hovering = true" @mouseleave="hovering = false"
                     class="relative h-72 rounded-2xl overflow-hidden">
                    {# The background image #}
                    <div class="absolute left-0 right-0 top-0 bottom-0 bg-center bg-cover bg-no-repeat"
                         style="background-image: url('{{ project.thumbnail.url|escape }}')"></div>
                    {# The foreground #}
                    <div class="absolute left-0 right-0 top-0 bottom-0 bg-black flex flex-col p-8 justify-between items-start transition-colors duration-200"
                         :class="{'bg-opacity-50': !hovering, 'bg-opacity-70': hovering }">
                        <p class="text-white text-2xl font-semibold uppercase">{{ project.name }}</p>
                        <a class="bg-white px-6 py-1 text-black self-end rounded-bl-xl rounded-tr-xl text-sm border-2 border-transparent hover:border-white hover:text-white hover:bg-transparent transition-colors duration-200"
                           href="{% url 'project' project.id %}">View project</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container flex flex-col justify-center">
            <p class="text-center text-sm font-medium text-gray-700 text-2xl">
                {% translate 'No projects found' %}
            </p>
        </div>
    {% endif %}
</div>
