{% load static %}
<footer>
    <div class="flex flex-col items-center py-16 text-black shadow-[0_4px_30px_0px_rgba(0,0,0,0.1)] px-4">
        <div class="container grid md:grid-cols-2 lg:grid-cols-4 gap-4">
            <div class="flex flex-col items-end gap-4">
                <p class="font-bold text-lg text-md text-right">Newest posts</p>
                <ul class="flex flex-col items-end">
                    {% for post in posts %}
                        <li>
                            <a href="{% url 'post' post.id %}" class="text-sm text-gray-700 font-medium hover:text-amber-500">
                                {{ post.title|truncatechars:30 }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex flex-col items-stretch gap-4">
                <p class="font-bold text-lg text-md text-right">Products</p>
                <ul class="list text-right">

                </ul>
            </div>
            <div class="flex flex-col items-stretch gap-4 ">
                <p class="font-bold text-lg text-md text-right">Contact us</p>
                <div class="flex flex-col items-stretch text-right gap-3">
                    <p class="text-black font-medium">Eslahmshahr - Tehran</p>
                    <p class="text-gray-400 font-medium">Phone number</p>
                    <a class="font-semibold text-sm" href="tel:+31 06 4043 5602">
                        <span class="text-gray-600">06 - </span>
                        <span class="text-amber-500 ">4043 5602</span>
                    </a>
                    <p class="text-gray-400 font-medium">Email</p>
                    <a class="text-amber-500 font-semibold text-sm" href="mailto:luke.rieff@gmail.com">luke.rieff@gmail.com</a>
                </div>
            </div>
            <div class="flex flex-col items-end gap-4">
                <div class="w-32 h-32 bg-center bg-no-repeat bg-cover" style="background-image: url('{% static 'website/logo-transparent.png' %}')"></div>
                <p class="text-black self-stretch font-medium leading-6 font-light text-lg text-right">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eaque id itaque, nemo quam rem
                    reprehenderit suscipit vero voluptates? Ad consectetur eius enim fugit ipsam laborum pariatur
                    perspiciatis quasi veritatis.
                </p>
            </div>
        </div>
    </div>
    <div class="relative bg-black flex flex-col items-center text-white py-4 px-4 md:px-0">
        <div x-data="" @click="window.scrollTo({ top: 0, behavior: 'smooth' })"
             class="bg-black pb-8 rounded-t-full absolute left-16 top-0 w-8 -translate-y-full cursor-pointer fill-white flex justify-stretch items-stretch">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="m296-345-56-56 240-240 240 240-56 56-184-184-184 184Z"></path>
            </svg>
        </div>
        <div class="container flex flex-row justify-between items-center text-sm">
            <p class="font-medium">Designed by L. Rieff</p>
            <p class="font-medium">&copy; Copyright Rasoul Ahmadi Rad {% now "Y" %}</p>
        </div>
    </div>
</footer>