{% extends "layout.html" %}
{% load static %}
{% block title %}
    Portfolio
{% endblock %}
{% block content %}
    {% include 'portfolio/header.html' %}
    <div class="flex flex-col items-center justify-center py-16">
        <div class="container flex flex-col items-stretch gap-8">
            {% include 'portfolio/search.html' %}
            {% if not page.object_list %}
                {% include 'portfolio/no_projects_found_message.html' %}
            {% else %}
                {% include 'portfolio/projects.html' %}
                {% include 'components/paginator.html' with query_param_name='page' %}
            {% endif %}
        </div>
    </div>
{% endblock %}