{% extends "layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    Portfolio
{% endblock %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% include 'product/header.html' %}
    <div class="flex flex-col items-center py-16 bg-white">
        <div class="container">
            <div class="grid md:grid-cols-2 gap-8">
                <div class="flex flex-col gap-16">
                    {# Lists the advantages and disadvantages of the product #}
                    <div class="flex flex-col gap-2">
                        <div class="grid grid-cols-2 bg-black rounded-md p-2">
                            <p class="text-white text-sm text-center font-semibold">
                                {% translate 'Advantages' %}
                            </p>
                            <p class="text-white text-sm text-center font-semibold">
                                {% translate 'Disadvantages' %}
                            </p>
                        </div>
                        <div>
                            <div class="flex flex-row gap-2">
                                {# Advantages #}
                                <div class="flex-1">
                                    <div class="p-2 bg-white rounded-md shadow-md shadow-gray-100 border border-gray-200">
                                        <ul class="flex flex-col gap-1">
                                            {% for advantage in advantages %}
                                                <li class="flex flex-row items-center justify-center gap-1">
                                                        <span class="text-gray-600 text-sm font-medium">
                                                            {{ advantage.advantage }}
                                                        </span>
                                                    <span class="fill-gray-600">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="16px"
                                                                 viewBox="0 0 24 24" width="16px">
                                                                <path d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
                                                            </svg>
                                                        </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {# Disadvantages #}
                                <div class="flex-1">
                                    <div class="p-2 bg-white rounded-md shadow-md shadow-gray-100 border border-gray-200">
                                        <ul class="flex flex-col gap-1">
                                            {% for disadvantage in disadvantages %}
                                                <li class="flex flex-row items-center justify-center gap-1">
                                                        <span class="text-gray-600 text-sm font-medium">
                                                            {{ disadvantage.disadvantage }}
                                                        </span>
                                                    <span class="fill-gray-600">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                 height="16px" viewBox="0 0 24 24" width="16px">
                                                                <path d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path>
                                                            </svg>
                                                        </span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# Contact experts #}
                    <div class="flex flex-row items-stretch gap-4">
                        <a class="px-4 py-2 rounded-md bg-black flex flex-row gap-2 items-center fill-white"
                           href="{% url 'contact' %}">
                            <span class="text-sm text-white font-medium">
                                {% translate 'Contact us' %}
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24"
                                     width="24px">
                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"></path></svg>
                            </span>
                        </a>
                        <a class="px-4 py-2 rounded-md bg-amber-500 flex flex-row gap-2 items-center"
                           href="tel:+989122962718">
                            <span class="font-medium text-white text-sm">
                                {% translate 'Free advice' %}
                            </span>
                        </a>
                    </div>
                </div>
                {# Banner #}
                <img class="rounded-xl" src="{{ product.banner.url }}" alt=""/>
            </div>
        </div>
    </div>
    {% include 'product/description.html' with description=product.description %}
    {% include 'product/projects.html' with projects=projects %}

    {% url 'product' product.id as consulting_form_redirection_target %}
    {% include 'components/consulting_form.html' with redirection_target=consulting_form_redirection_target %}

    {% include 'components/posts.html' with posts=posts %}
{% endblock %}