{% extends "layout.html" %}
{% load static %}
{% block title %}
    Portfolio
{% endblock %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% include 'project/header.html' %}
    <div class="flex flex-col items-center py-16">
        <div class="container flex flex-col lg:flex-row gap-8">
            {% include 'project/overview.html' %}
            {% include 'project/carousel.html' %}
        </div>
    </div>
    {% include 'project/products.html' %}
    {% include 'components/consulting_form.html' %}
{% endblock %}