{% load i18n %}
<div class="flex flex-col items-center py-8">
    {% if products %}
        <div class="container grid lg:grid-cols-3 gap-10 lg:gap-20">
            {% for product in products %}
                {% include 'components/products/product.html' with product=product %}
            {% endfor %}
        </div>
    {% else %}
        <div class="container flex flex-col justify-center">
            <p class="text-center text-sm font-medium text-gray-700">
                {% blocktrans %}No products found{% endblocktrans %}
            </p>
        </div>
    {% endif %}
</div>