{% load i18n %}
<div class="flex flex-col items-center justify-center pt-16">
    <div class="container">
        {% block content %}
            <div class="flex flex-row items-center justify-between">
                <a class="text-sm text-black hover:text-amber-500" href="{% url 'products' %}">
                    {% translate 'View more' %}
                </a>
                {% block title %}
                    <h2 class="font-bold text-black text-lg">
                        {% translate 'Products' %}
                    </h2>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>