{% extends "layout.html" %}
{% load static %}
{% block title %}
    Contact
{% endblock %}
{% block content %}
    {% include 'contact/header.html' %}
    <div class="flex flex-col items-center">
        <div class="container flex flex-col items-center gap-8">
            <div class="w-24 h-24 fill-black">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M638-80 468-250l56-56 114 114 226-226 56 56L638-80ZM480-520l320-200H160l320 200Zm0 80L160-640v400h206l80 80H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v174l-80 80v-174L480-440Zm0 0Zm0-80Zm0 80Z"></path>
                </svg>
            </div>
            <div class="flex flex-col items-center gap-2">
                <h1 class="text-4xl font-bold text-center">Thank you for your message!</h1>
                <p class="text-center font-light">We will get back to you as soon as possible.</p>
            </div>
            <a href="{% url 'contact' %}"
               class="bg-black px-6 py-3 flex flex-row gap-2 text-white fill-white rounded-lg text-sm items-center font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                    <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>
{% endblock %}