{% load static %}
<nav x-data="{ transparent: true }"
     @scroll.window="transparent = window.scrollY < 20"
     class="z-10 flex items-center justify-center fixed top-0 left-0 right-0 p-2 duration-200 transition-all"
     :class="{ 'bg-black bg-opacity-10 text-white': transparent, 'bg-white text-black': !transparent }">
    <div class="container flex flex-row items-center space-x-8">
        <div class="flex items-center flex-row space-x-4">
            <img src="{% static 'website/nav/phone-icon.png' %}" alt="Phone icon"/>
            <p class="text-sm">
                <span class="text-amber-400">0912</span> - 8728242<br />
                Call now
            </p>
            <a href="tel:+310640435602" class="rounded-lg bg-black text-sm px-3 py-2 text-white hover:bg-white hover:text-black transition-all duration-200">
                Free advice
            </a>
        </div>
        <div class="flex flex-grow justify-end flex-row space-x-4 text-sm font-semibold">
            <a href="{% url 'about' %}">About us</a>
            <a href="{% url 'contact' %}">Contact us</a>
            <a href="">Articles</a>
            <a href="{% url 'portfolio' %}">Portfolio</a>
            <a href="">Products</a>
        </div>
        <div class="flex flex-row">
            <a href="{% url 'index' %}" class="block w-28 h-28 bg-center bg-cover"
                 style="background-image: url('{% static 'website/logo-transparent.png' %}')">

            </a>
        </div>
    </div>
</nav>
