{% block wrapper %}
    <!-- bg-white shadow-slate-300 shadow-xl border border-slate-200 md:bg-transparent md:shadow-none md:border-none -->
    <div x-data="{ hovering: false }" @mouseenter="hovering = true" @mouseleave="hovering = false"
         class="snap-center shrink-0 w-full rounded-lg text-center flex flex-col items-stretch border-transparent text-black fill-black"
         :class="{'bg-white shadow-slate-300 shadow-xl border border-slate-200 md:bg-transparent md:border-transparent md:shadow-none': !hovering, 'bg-white shadow-slate-300 shadow-xl border border-slate-300': hovering }">
        <!-- Tailwind classes: bg-slate-50 rounded-lg -->
        <div class="p-4 flex flex-col items-center gap-1" :class="{'rounded-lg bg-white md:bg-slate-100': !hovering, 'rounded-lg': !hovering}">
            <div class="flex flex-col items-center text-slate-900">
                {% block icon %}
                {% endblock %}
            </div>
            <p class="text-md text-slate-900">
                {% block title %}
                {% endblock %}
            </p>
        </div>
        <!-- Tailwind classes: visible md:invisible -->
        <p class="font-light text-sm text-slate-700 px-4 pb-4" :class="{ 'visible md:invisible': !hovering }">
            {% block content %}
            {% endblock %}
        </p>
    </div>

{% endblock %}